<div class="page-container">
  <div class="content-container">
    <div class="header">
      <div class="exercise-name">
        <button class="back-button" mat-icon-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
        {{ currentExercise.name }}
      </div>
      </div>
    <div class="image-container">
      <img class="square-image" [src]="currentExercise.gifUrl" alt="{{currentExercise.name}}">
    </div>
    <div class="exercise-details">
      <p class="time-text">Time: {{ currentExercise.time }}</p>
      <p>{{ formatTime(elapsedTime) }}</p>
      <p>Repetitions: {{ currentExercise.repetition }}</p>
      <p >Target: {{ currentExercise.target }}</p>
      <mat-card-actions>
        <div class="icon-container">
          <button mat-icon-button (click)="previousExercise()">
            <mat-icon class="custom-icon">skip_previous</mat-icon>
          </button>
          <button mat-icon-button (click)="isPlaying ? pauseExercise() : playExercise()">
            <mat-icon class="custom-icon">{{ isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
          </button>
          <button mat-icon-button (click)="nextExercise()">
            <mat-icon class="custom-icon">skip_next</mat-icon>
          </button>
        </div>
      </mat-card-actions>

    </div>
  </div>
</div>
