<div class="button-container">
  <div class="login-button">
    <button mat-fab extended color="primary" type="submit" [disabled]="isDisabled">
      {{button_name}}
    </button>
  </div>
  <div class="divider-container">
    <div class="divider-line"></div>
    <span class="divider-text">or</span>
    <div class="divider-line"></div>
  </div>

  <div class="google-button" >
  <asl-google-signin-button type='standard' size='large'
  shape="pill" text="continue_with" theme="filled_blue" logo_alignment="left" width="400"
  ></asl-google-signin-button>
  </div>
</div>
