<div class="close-button" (click)="onSidenavClose()">
  <mat-icon>close</mat-icon>
</div>

<mat-nav-list>
   <div *ngIf="isLoggedIn">
      <a mat-list-item routerLink="/user" (click)="onSidenavClose()" class="user-profile">
          <img *ngIf="currentUserImage" [src]="currentUserImage" alt="User Image">
          <span *ngIf="!currentUserImage" class="initial">{{currentUserSymbol}}</span>
      </a>
   </div>

  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon><span class="nav-caption">Home</span>
  </a>
  <ng-container>
    <div *ngIf="isLoggedIn">
      <a mat-list-item routerLink="/workout" (click)="onSidenavClose()">
        <mat-icon>fitness_center</mat-icon><span class="nav-caption">Workout</span>
      </a>
      <a mat-list-item routerLink="/rapport" (click)="onSidenavClose()">
        <mat-icon>insert_chart</mat-icon><span class="nav-caption">Reports</span>
      </a>
      <a mat-list-item routerLink="/contact" (click)="onSidenavClose()">
        <mat-icon>contact_support</mat-icon><span class="nav-caption">Contact us</span>
      </a>
      <a mat-list-item routerLink="/aboutus" (click)="onSidenavClose()">
        <mat-icon>tag_faces</mat-icon><span class="nav-caption">About us</span>
      </a>
      <a mat-list-item (click)="logout(); onSidenavClose()">
        <mat-icon>logout</mat-icon><span class="nav-caption">Logout</span>
      </a>
    </div>
    <div *ngIf="!isLoggedIn">
      <a mat-list-item routerLink="/login" (click)="onSidenavClose()">
        <mat-icon>login</mat-icon><span class="nav-caption">Login</span>
      </a>
      <a mat-list-item routerLink="/signup" (click)="onSidenavClose()">
        <mat-icon>account_circle</mat-icon><span class="nav-caption">Sign up</span>
      </a>
    </div>
  </ng-container>


</mat-nav-list>
