<div id="page">
  <div class="about-us">
    <h1>About Us</h1>
    <p>Welcome to PolymorFIT Industries! We are a passionate team dedicated to providing innovative and inspiring
      fitness solutions to our users.</p>
  </div>

  <mat-accordion>

    <mat-expansion-panel class="section1">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Our Mission</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Our mission is to make fitness accessible to everyone. We believe that fitness is a lifestyle and that everyone
        should have the opportunity to be the best version of themselves.</p>
    </mat-expansion-panel>

    <mat-expansion-panel class="section2">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Our Story</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Since our inception in the beginning of 2023, we have embarked on an exciting and fulfilling journey. We were
        born out of the desire to make fitness accessible to everyone, combining technology and fitness expertise to
        create a unique experience.</p>
    </mat-expansion-panel>

    <mat-expansion-panel class="section3 team-section">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Meet our Team members</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Behind PolymorFIT Industries, there is a talented and dedicated team that shares a common passion for fitness
        and
        well-being. Our experts in development, design, fitness, and marketing work together to create an application
        that
        meets the needs of our users.</p>

      <mat-divider></mat-divider>

      <div class="team-cards">

        <mat-card class="team-card">
          <img mat-card-image ngSrc="../../assets/teamMember1.jpg" height="5616" width="3744" alt="Team member 1">
          <mat-card-footer class="info">
            <h3>Lead Developer</h3>
            <mat-divider class="info-divider"></mat-divider>
            <p>Alex Johnson</p>
          </mat-card-footer>
        </mat-card>

        <mat-card class="team-card">
          <img mat-card-image ngSrc="../../assets/teamMember2.jpg" height="5616" width="3744" alt="Team member 4">
          <mat-card-footer class="info">
            <h3>UX/UI Designer</h3>
            <mat-divider class="info-divider"></mat-divider>
            <p>Michael Thompson</p>
          </mat-card-footer>
        </mat-card>

        <mat-card class="team-card">
          <img mat-card-image ngSrc="../../assets/teamMember3.jpg" height="5616" width="3744" alt="Team member 4">
          <mat-card-footer class="info">
            <h3>Backend Engineer</h3>
            <mat-divider class="info-divider"></mat-divider>
            <p>Ryan Turner</p>
          </mat-card-footer>
        </mat-card>

        <mat-card class="team-card">
          <img mat-card-image ngSrc="../../assets/teamMember4.jpg" height="5616" width="3744" alt="Team member 4">
          <mat-card-footer class="info">
            <h3>Frontend Developer</h3>
            <mat-divider class="info-divider"></mat-divider>
            <p>Benjamin Clark</p>
          </mat-card-footer>
        </mat-card>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="section4">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Commitment to our Users</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>We are committed to providing you with an exceptional user experience. Your satisfaction and results are our
        top priority. We listen to your needs, concerns, and suggestions, and we strive to continuously improve our
        application to deliver the best possible service.</p>
    </mat-expansion-panel>

    <div class="section5">
      <h2>Questions?</h2>
      <p>For any questions, comments, or concerns, please contact us
        <a routerLink="/contact"><span class="animated-link">here</span></a> !</p>
    </div>

  </mat-accordion>

</div>
