<div *ngIf="(authService.isLoggedIn$ | async) === false">

  <owl-carousel-o [options]="customOptions" class="carousel-container">
    <ng-template carouselSlide>
      <div class="slide">
        <mat-card class="example-card">
          <h1>Welcome to Polymor<span class="highlight">FIT</span></h1>
          <img mat-card-image ngSrc="../../assets/images/Stat.png" alt="Photo of a Shiba Inu" height="183" width="258">
          <mat-card-content>
            <h1>Track your <span class="highlight">progress</span></h1>
            <p>
              By using PolymorFIT you can keep track
              your progress.
            </p>
          </mat-card-content>

        </mat-card>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <mat-card class="example-card">
          <h1>Welcome to Polymor<span class="highlight">FIT</span></h1>

          <img mat-card-image ngSrc="assets/images/Workout.png" alt="cardio img" height="183" width="258">
          <mat-card-content>
            <h1>Customized <span class="highlight">Workout</span></h1>
            <p>
              You can make your own and customized
              workout.
            </p>
          </mat-card-content>

        </mat-card>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <mat-card class="example-card">
          <h1>Welcome to Polymor<span class="highlight">FIT</span></h1>

          <img mat-card-image ngSrc="assets/images/Diet.png" alt="Photo of a Shiba Inu" height="183" width="258">
          <mat-card-content>
            <h1><span class="highlight">Diet</span> plan</h1>
            <p>
              Eat healthier and tasty food with the diet plan advised by PolymorFIT.
            </p>
          </mat-card-content>

        </mat-card>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <mat-card class="example-card">
          <h1>Welcome to Polymor<span class="highlight">FIT</span></h1>

          <img mat-card-image ngSrc="assets/images/Winner.png" alt="Photo of a Shiba Inu" height="183" width="258">
          <mat-card-content>
            <h1><span class="highlight">Challenge</span> your friends</h1>
            <p>
              Share and challenge the workouts to
              your friends.
            </p>
          </mat-card-content>

        </mat-card>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>

<div *ngIf="authService.isLoggedIn$ | async">
  <h1>
    Welcome, {{ (authService.currentUser$ | async)?.firstName }} {{ (authService.currentUser$ | async)?.lastName }}</h1>

  <!-- HOME PAGE ICI !!!!! -->
  <div class="home-container">
    <div class="week-section">
      <h2 class="section-title mat-h2">My Week</h2>
      <div class="week-cards">

        <div class="card">
          <div class="card-info">
            <span class="day">Mon.</span>
            <span class="time">16h00 - 16h30</span>
          </div>
          <span class="workout-type">Cardio</span>
        </div>

        <div class="card">
          <div class="card-info">
            <span class="day">Tues.</span>
            <span class="time">16h00 - 16h30</span>
          </div>
          <span class="workout-type">Cardio</span>
        </div>

        <div class="card">
          <div class="card-info">
            <span class="day">Wed.</span>
            <span class="time">16h00 - 16h30</span>
          </div>
          <span class="workout-type">Cardio</span>
        </div>

        <div class="card">
          <div class="card-info">
            <span class="day">Thu.</span>
            <span class="time">16h00 - 16h30</span>
          </div>
          <span class="workout-type">Cardio</span>
        </div>

        <div class="card">
          <div class="card-info">
            <span class="day">Fri.</span>
            <span class="time">16h00 - 16h30</span>
          </div>
          <span class="workout-type">Cardio</span>
        </div>

        <div class="card">
          <div class="card-info">
            <span class="day">Sat.</span>
            <span class="time">16h00 - 16h30</span>
          </div>
          <span class="workout-type">Cardio</span>
        </div>

        <div class="card">
          <div class="card-info">
            <span class="day">Sun.</span>
            <span class="time">16h00 - 16h30</span>
          </div>
          <span class="workout-type">Cardio</span>
        </div>
      </div>
    </div>


    <div class="workout-section">
      <h2 class="section-title mat-h2">Workouts</h2>
      <div class="workouts-container">

        <mat-card class="workout-card">
          <mat-card-content class="workout-content">
            <mat-icon class="monogram">bookmark_border</mat-icon>
            <div class="text">
              <span class="workout-type">Cardio</span>
              <span class="separator">|</span>
              <span class="workout-time">20 min</span>
            </div>
            <mat-icon class="media"></mat-icon>
          </mat-card-content>
        </mat-card>

        <mat-card class="workout-card">
          <mat-card-content class="workout-content">
            <mat-icon class="monogram">bookmark_border</mat-icon>
            <div class="text">
              <span class="workout-type">Cardio</span>
              <span class="separator">|</span>
              <span class="workout-time">20 min</span>
            </div>
            <mat-icon class="media"></mat-icon>
          </mat-card-content>
        </mat-card>

        <mat-card class="workout-card">
          <mat-card-content class="workout-content">
            <mat-icon class="monogram">bookmark_border</mat-icon>
            <div class="text">
              <span class="workout-type">Cardio</span>
              <span class="separator">|</span>
              <span class="workout-time">20 min</span>
            </div>
            <mat-icon class="media"></mat-icon>
          </mat-card-content>
        </mat-card>

        <mat-card class="workout-card">
          <mat-card-content class="workout-content">
            <mat-icon class="monogram">bookmark_border</mat-icon>
            <div class="text">
              <span class="workout-type">Cardio</span>
              <span class="separator">|</span>
              <span class="workout-time">20 min</span>
            </div>
            <mat-icon class="media"></mat-icon>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </div>

</div>

