<div *ngIf="(authService.isLoggedIn$ | async) === false">

  <owl-carousel-o [options]="customOptions" class="carousel-container">
    <ng-template carouselSlide>
      <div class="slide">
        <mat-card class="example-card">
          <h1>Welcome to Polymor<span class="highlight">FIT</span></h1>
          <img mat-card-image ngSrc="../../assets/images/Stat.png" alt="Photo of a Shiba Inu" height="183" width="258">
          <mat-card-content>
            <h1>Track your <span class="highlight">progress</span></h1>
            <p>
              By using PolymorFIT you can keep track
              your progress.
            </p>
          </mat-card-content>

        </mat-card>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <mat-card class="example-card">
          <h1>Welcome to Polymor<span class="highlight">FIT</span></h1>

          <img mat-card-image ngSrc="assets/images/Workout.png" alt="cardio img" height="183" width="258">
          <mat-card-content>
            <h1>Customized <span class="highlight">Workout</span></h1>
            <p>
              You can make your own and customized
              workout.
            </p>
          </mat-card-content>

        </mat-card>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <mat-card class="example-card">
          <h1>Welcome to Polymor<span class="highlight">FIT</span></h1>

          <img mat-card-image ngSrc="assets/images/Diet.png" alt="Photo of a Shiba Inu" height="183" width="258">
          <mat-card-content>
            <h1><span class="highlight">Diet</span> plan</h1>
            <p>
              Eat healthier and tasty food with the diet plan advised by PolymorFIT.
            </p>
          </mat-card-content>

        </mat-card>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <mat-card class="example-card">
          <h1>Welcome to Polymor<span class="highlight">FIT</span></h1>

          <img mat-card-image ngSrc="assets/images/Winner.png" alt="Photo of a Shiba Inu" height="183" width="258">
          <mat-card-content>
            <h1><span class="highlight">Challenge</span> your friends</h1>
            <p>
              Share and challenge the workouts to
              your friends.
            </p>
          </mat-card-content>

        </mat-card>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>

<div *ngIf="authService.isLoggedIn$ | async">
  <h1 [ngClass]="{ 'particle-heading': particlesLoaded }"><b>Welcome, {{ (authService.currentUser$ | async)?.firstName }} {{ (authService.currentUser$ | async)?.lastName }}</b></h1>
  <!-- HOME PAGE ICI !!!!! -->
  <div class="home-container">
    <div class="week-section">
      <h2 class="section-title mat-h2" [ngClass]="{ 'particle-heading': particlesLoaded }"><b>My Week</b></h2>
      <div *ngIf="checkGoalAchievement()">
        <h2 class="congratulation">Congratulations! You've reached your weekly exercise goal!</h2>
        <ng-particles id="tsparticles" [options]="options" [particlesInit]="particlesInit" (particlesLoaded)="particlesLoaded($event)"></ng-particles>

      </div>



      <!-- Exercise Target Section -->
      <div class="exercise-target">
        <h3 [ngClass]="{ 'particle-heading': particlesLoaded }">Your Weekly Exercise Goal: {{ (authService.currentUser$ | async | filterProfile)?.profile.exerciseTarget }} days</h3>
        <button mat-raised-button (click)="setExerciseTarget()">Update Goal</button>
      </div>

      <div class="week-cards">
        <app-weekly-exercise-card *ngFor="let day of lastSevenDays"
                                  class="card"
                                  [day]="day.date  | date:'EEE'"
                                  [startTime]="day.startTime | date:'HH:mm'"
                                  [endTime]="day.endTime | date:'HH:mm'"
                                  [isExercised]="day.isExercised">></app-weekly-exercise-card>
      </div>
    </div>

    <div class="workout-section">
      <div routerLink="/workout">
      <app-exercice aria-readonly="true"></app-exercice>
      </div>
    </div>
  </div>
</div>

