mat-sidenav-container, mat-sidenav-content, mat-sidenav{
  height: 100%;
}

mat-sidenav {
  width: 250px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex-grow: 1;
}
