<p>
  <mat-toolbar color="primary">

    <span>PolymorFIT</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
</p>

<mat-menu #menu class="menu">
  <button mat-menu-item>
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item>
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
  <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    <span>Signup</span>
  </button>
</mat-menu>
