<div class="close-button" (click)="cancel()">
  <mat-icon>close</mat-icon>
</div>

<h1 class="signup-title"><b>Sign Up</b></h1>

<div>
  <form action="" class="signup-form" (ngSubmit)="onSubmit()">
    <p>Your Email</p>
    <mat-form-field appearance="fill"  class="email-container">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required [(ngModel)]="mail">
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <div>
      <p>Your First Name</p>
      <mat-form-field class="name-input">
        <mat-label>First name</mat-label>
        <input matInput placeholder="First name" [(ngModel)]="first_name" name="first_name">
      </mat-form-field>
      <p>Your Last Name</p>
      <mat-form-field class="name-input">
        <mat-label>Last name</mat-label>
        <input matInput placeholder="Last name" [(ngModel)]="last_name" name="last_name">
      </mat-form-field>
    </div>
    <div>
      <p>Your Password</p>
      <mat-form-field appearance="fill" class="password-container">
        <mat-label>Enter your password</mat-label>
        <input matInput [formControl]="passwordFormControl" [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
        <!-- ... -->
      </mat-form-field>
      <p>Re-enter Your Password</p>
      <mat-form-field appearance="fill" class="password-container">
        <mat-label>Enter your password</mat-label>
        <input matInput [formControl]="passwordFormControl" [type]="hide ? 'password' : 'text'">
        <!-- ... -->
      </mat-form-field>
    </div>

    <div>
      <app-login-signup-buttons [button_name]="'Sign up'"></app-login-signup-buttons>
    </div>
  </form>
</div>
