<form action="" [formGroup]="levelForm" (ngSubmit)="onSubmit()" class="level-bottom-sheet">
  <h2>How experienced are you in fitness?</h2>
  <div class="radio-group">
    <mat-radio-group formControlName="level">
      <mat-radio-button value="beginner">Beginner</mat-radio-button>
      <mat-radio-button value="intermediate">Intermediate</mat-radio-button>
      <mat-radio-button value="experienced">Experienced</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="button-container">
    <button mat-fab extended color="primary" type="submit" [disabled]="!levelForm.valid">Continue</button>
  </div>
</form>

