<div *ngIf="!selectedExerciseType" class="section-title mat-h2">Workouts</div>

<!--<div *ngIf="selectedExerciseType" class="exercise-details">
  <span class="exercise-type">{{ selectedExerciseType }}</span>
  <span class="separator">|</span>
  <span class="exercise-time">45 min</span>
</div>-->
<div class="home-container">
  <div class="workout-section">

    <div class="search-container" *ngIf="!selectedExerciseType">
      <div class="filter-container">
        <mat-icon class="filter-icon" (click)="toggleFilterList()">filter_alt</mat-icon>
        <div *ngIf="showFilterList" class="filter-list">
          <div *ngFor="let type of typeExercices" (click)="getExercicesWithNoEquipement(type.value)">
            {{ type.viewValue }}
          </div>
        </div>
      </div>
      <mat-icon class="search-icon" (click)="toggleSearch()">search</mat-icon>
      <input type="text" [(ngModel)]="searchQuery" [hidden]="!isSearchOpen" (blur)="closeSearch()"/>
    </div>

    <div *ngIf="!selectedExerciseType">
      <div class="workout-container">
        <div *ngFor="let type of typeExercices" (click)="getExercicesWithNoEquipement(type.value)">
          <mat-card class="workout-card">
            <mat-card-content class="workout-content">
              <mat-icon class="monogram">bookmark_border</mat-icon>
              <div class="text">
                <span class="workout-type">{{ type.viewValue }}</span>
                <span class="separator">|</span>
                <span class="workout-time">{{ type.time }}</span>
              </div>
              <mat-icon class="media"></mat-icon>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <div [ngSwitch]="selectedExerciseType">
      <div *ngSwitchDefault class="workouts-container">
        <div *ngFor="let exercise of exercicesList">
          <mat-card class="workout-card">
            <mat-card-content class="workout-content">
              <mat-icon class="monogram">bookmark_border</mat-icon>
              <div class="text">
                <span class="workout-type">{{ exercise.name }}</span>
                <span class="separator">|</span>
                <span class="workout-time">{{ exercise.time }}</span>
              </div>
              <mat-icon class="media"></mat-icon>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="button-container"  *ngIf="selectedExerciseType">
        <button class="start-button" mat-button (click)="startExercice()">
          <mat-icon class="mat-select-arrow">play_arrow</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

