.toolbar-title {
  flex: 1;
  text-align: center;
  font-size: xx-large;
  margin: 3%;
}

.exercise-details{
  flex: 1;
  text-align: center;
  font-size: xx-large;
  margin: 3%;
}

.hidden {
  display: none;
}


mat-toolbar {
  background-color: initial;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 16px;
}

.search-icon,
.filter-icon {
  padding: 10px;
  font-size: xx-large;
  cursor: pointer;
}

.filter-icon {
  margin-left: 5px; /* Adjust the margin as needed */
}

.filter-container {
  position: relative;
  display: inline-block;
}

.filter-list {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  z-index: 2;
  background-color: #fff;
  padding: 10px;
  white-space: nowrap;
}

.filter-list div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-list div:hover {
  color: purple;
}

.exercise-card {
  padding: 5%;
  margin: 5%;
  border-radius: 30px;
}

.exercise-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 4%;
}

.separator {
  margin: 0 10px;
  font-size: xx-large;
}

.exercise-time {
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  color: grey;
}

.exercise-type {
  margin-left: auto;
  margin-right: auto;
  font-size: x-large;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exercise-icon,
.additional-icon {
transform: scale(2);
}

.exercise-icon {
  margin-right: 10px;
}


.additional-icon {
  margin-left: 10px;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .exercise-row {
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 50%;
  }


  .separator,
  .exercise-time {
    flex-basis: 100%;
    margin-top: 5px;
    font-size: xx-large;
    text-align: center;
  }
}



.selected-exercise-card {
  padding: 5%;
  margin: 5%;
  border-radius: 30px;
}

.exercise-row {
  display: flex;
  align-items: center;
}

.bookmark-icon,
.run-icon {
  transform: scale(2);
}

.separator {
  margin: 0 10px;
  font-size: xx-large;
}

.bookmark-icon {
  margin-right: 10px;
}

.run-icon{
margin-left: 10px;

}

.start-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: large;
  scale: 3;
  float: right;
  margin-top: -15%;
  margin-right: 10%;
  background: linear-gradient(0deg, rgba(103, 80, 164, 0.11), rgba(103, 80, 164, 0.11)), #FFFBFF;
  /* M3/Elevation Light/3 */

  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.button-container {
  align-items: flex-end;
}

.mat-select-arrow{
  color: #6750a4;
}


@media (min-width: 800px) {
  .toolbar-title {
    font-size: xxx-large;
  }

  .exercise-details {
    font-size: 3rem;
  }


  .exercise-icon,
  .additional-icon,
  .bookmark-icon,
  .run-icon {
    transform: scale(3);
  }

  .start-button {
    font-size: 2rem;
    transform: scale(2);
    margin-right: 15%;
  }

  .separator {
    font-size: 4rem;
  }

  .exercise-time {
    font-size: 1.5rem;
  }

}
