<div *ngIf="!selectedExerciseType" class="toolbar-title">Workouts</div>

<div *ngIf="selectedExerciseType" class="exercise-details">
  <span class="exercise-type">{{ selectedExerciseType }}</span>
  <span class="separator">|</span>
  <span class="exercise-time">45 min</span>
</div>



<div class="search-container" *ngIf="!selectedExerciseType">
  <div class="filter-container">
    <mat-icon class="filter-icon" (click)="toggleFilterList()">filter_alt</mat-icon>
    <div *ngIf="showFilterList" class="filter-list">
      <div *ngFor="let type of typeExercices" (click)="getExercicesWithNoEquipement(type.value)">
        {{ type.viewValue }}
      </div>
    </div>
  </div>
  <mat-icon class="search-icon" (click)="toggleSearch()">search</mat-icon>
  <input type="text" [(ngModel)]="searchQuery" [hidden]="!isSearchOpen" (blur)="closeSearch()" />
</div>

    <div *ngIf="!selectedExerciseType">
      <div *ngFor="let type of typeExercices" (click)="getExercicesWithNoEquipement(type.value)">
        <mat-card class="exercise-card">
          <div class="exercise-row">
            <mat-icon class="exercise-icon">bookmark_border</mat-icon>
            <span class="exercise-type">{{ type.viewValue }}</span>
            <span class="separator">|</span>
            <span class="exercise-time">{{ type.time  }} mins</span>
            <img [src]="svgIconPath" class="additional-icon" alt="SVG Icon">
          </div>
        </mat-card>
      </div>
    </div>


    <!--  <div *ngIf="!selectedExerciseType">
        <div *ngFor="let type of typeExercices" (click)="getExercicesWithNoEquipement(type.value)">
          <mat-card>
            <i class="exercise-icon fas fa-dumbbell"></i>
            <mat-card-title>{{ type.viewValue }}</mat-card-title>
            <span class="separator">|</span>
            <span class="exercise-time"></span>
            <i class="additional-icon fas fa-info-circle"></i>
          </mat-card>
        </div>
      </div>-->

<div [ngSwitch]="selectedExerciseType">
  <div *ngSwitchDefault>
    <div *ngFor="let exercise of exercicesList">
      <mat-card class="selected-exercise-card">
        <mat-card-content class="exercise-content">
          <div class="exercise-row">
            <mat-icon class="bookmark-icon">bookmark_border</mat-icon>
            <mat-card-title class="exercise-type">{{ exercise.name }}</mat-card-title>
            <span class="separator">|</span>
            <p class="exercise-time">Time: {{ exercise.time }}</p>
            <img [src]="svgIconPath" class="run-icon" alt="SVG Icon">
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="button-container">
      <button class="start-button" mat-button (click)="startExercice()">
        <mat-icon class="mat-select-arrow">play_arrow</mat-icon>
      </button>
    </div>
  </div>
</div>

