.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 10px;
}

h1{
  margin-top: auto;
}

.exercised {
  background-color: #9af39e;
}

.ex-time{
  color: darkgray;
  font-size: medium;
  text-shadow: 1px 1px 1px black;
}
